.group-card svg {
  filter: grayscale(100%);
  transition: filter 0.25s ease-in-out;
}

.group-card:hover svg {
  filter: grayscale(0%);
}

.bg-glass-effect {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(4px);
}