@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(-45deg, #F79E02, #e73c7e);
    background-size: 600% 600%;
    /* animation: gradient 5s cubic-bezier(0.7, 0.1, 0.4, 1) infinite; */
    overflow: overlay;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
    background-color: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    height: 20px;
}

.container {
    padding: 40px;
    height: 100vh;
    /* overflow-y: scroll;
    scroll-snap-type: y mandatory; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.menu {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 900;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: 0.5s;
}

.menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menu a {
    padding: 8px;
    opacity: 0;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.125s ease-in;
}

.active a {
    opacity: 1;
}

.menu a:hover,
.menu a:focus {
    font-size: 75px;
    transition: 0.125s;
}

.active .menu {
    height: 100%;
}

.toggle {
    position: fixed;
    z-index: 3000;
    width: 80px;
    height: 80px;
    right: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    justify-content: flex-end;
}

.toggle span {
    position: absolute;
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 4px;
    transition: 0.5s;
}

.toggle span:nth-child(1) {
    transform: translateY(-15px);
    width: 45%;
}

.toggle span:nth-child(2) {
    transform: translateY(15px);
    width: 30%;
}

.toggle span:nth-child(3) {
    width: 60%;
}

.toggle:hover span:nth-child(1) {
    width: 30%;
}

.toggle:hover span:nth-child(2) {
    width: 45%;
}

.active .toggle span:nth-child(1) {
    width: 60%;
    transform: translateY(0) rotate(45deg);
    transition-delay: 0.125s;
}

.active .toggle span:nth-child(2) {
    width: 60%;
    transform: translateY(0) rotate(135deg);
}

.active .toggle span:nth-child(3) {
    transform: translateX(-200px);
}

#nav-side {
    height: 7rem;
    width: 3rem;
    right: 40px;
    top: 50%;
    position: fixed;
    z-index: 100;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.circle {
    position: absolute;
    width: 10px;
    height: 4px;
    right: 0;
    background: white;
    border-radius: 4px;
    transition: 0.5s;
}

.circle.active{
    transition: 0.25s ease;
    width: 30px;
}

.section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.intro {
    display: flex;
    position: absolute;
    flex-direction: column;
}

.intro span {
    color: white;
    font-size: 6rem;
    font-weight: 1000;
}

.intro span:nth-child(2) {
    font-size: 4rem;
}

#learn-btn {
    font-size: 2rem;
    max-width: fit-content;
    right: 0px;
    cursor: pointer;
}

#learn-btn::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#learn-btn:hover::after {
    transform: scaleX(1);
}

@media only screen and (max-width: 500px) {
    .toggle {
        width: 20%;
        height: auto;
    }
}