@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

:root {
    --text-color: white;
    --ui-color: white;
    --background-color: #140030;
}

.glass-effect {
    background: rgba(188, 253, 73, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, .1);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mark Pro, sans-serif;
    scroll-behavior: smooth;
}

*:focus {
    background-color: transparent;
}

body {
    min-height: 100vh;
    background: var(--background-color);
    overflow: overlay;
    overflow-x: hidden;

    padding-right: 2rem;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
    background-color: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--ui-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    height: 20px;
    width: 100px;
}

.header {
    display: none;

    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 5rem;
    flex-direction: column;
    align-items: center;
}

.header:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}

.inner-header {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    width: 20rem;
    height: fit-content;
}

.header-navigation {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: row;
    width: fit-content;
    height: fit-content;
}

.header-navigation li {
    padding: 1rem;
    text-decoration: none;
    transition: 0.125s ease;
}

.header-navigation li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.125s ease;

}

.header-navigation li:active {
    border-radius: 1rem;
    border-color: black;
    transition: 0.125s ease;
}

.header-navigation li a::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 0.1rem;
    bottom: 0;
    left: 0;
    background-color: var(--text-color);
    transform: scaleX(0);
    transition: 0.3s ease;
}

.header-navigation li a:hover::after {
    transform: scaleX(1);
}

.container {
    padding-left: 40px;
    height: 100vh;
}

.menu {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 900;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: 0.5s;
}

.menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menu a {
    padding: 8px;
    opacity: 0;
    text-decoration: none;
    font-size: 36px;
    color: var(--text-color);
    display: block;
    transition: 0.125s ease-in;
}

.active a {
    opacity: 1;
}

.menu a:hover,
.menu a:focus {
    font-size: 2rem;
    transition: 0.125s;
}

.active .menu {
    height: 100%;
}

.toggle {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    position: fixed;
    z-index: 3000;
    width: 5rem;
    height: 5rem;
    right: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    justify-content: flex-end;
}

.toggle span {
    background: var(--ui-color);
    position: absolute;
    height: 0.25rem;
    border-radius: 4px;
    transition: 0.5s;
}

.toggle span:nth-child(1) {
    transform: translateY(-15px);
    width: 45%;
}

.toggle span:nth-child(2) {
    transform: translateY(15px);
    width: 30%;
}

.toggle span:nth-child(3) {
    width: 60%;
}

.toggle:hover span:nth-child(1) {
    width: 30%;
}

.toggle:hover span:nth-child(2) {
    width: 45%;
}

.active .toggle span:nth-child(1) {
    width: 60%;
    transform: translateY(0) rotate(45deg);
    transition-delay: 0.125s;
}

.active .toggle span:nth-child(2) {
    width: 60%;
    transform: translateY(0) rotate(135deg);
}

.active .toggle span:nth-child(3) {
    transform: translateX(-200px);
}

.circle.active {
    transition: 0.25s ease;
    width: 30px;
}

.section {

    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-color);
}

.section#section0 {
    justify-content: center;
}

.section::after {
    border-color: var(--text-color);
    margin: 0;
    border-width: 1rem;
}

.section-info {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.section .title {
    font-size: 10vw;
    transition: 0.5s;

    margin-bottom: 2rem;
}

.section #job {
    text-align: center;
    font-size: 10vw;
}

.section .description {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    padding: 3rem;
    width: 100%;
    height: 100%;

    font-size: 5vw;
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section .description:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

.section .description img {
    width: 100%;
}

.section .name:after {
    display: none;
}




#underline-btn {
    text-decoration: none;
    color: var(--text-color);
    font-size: 2rem;
    max-width: fit-content;
    right: 0px;
    cursor: pointer;
}

#underline-btn::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--text-color);
    transform: scaleX(0);
    transition: 0.3s ease;
}

#underline-btn:hover::after {
    transform: scaleX(1);
}


@media only screen and (min-width: 848px) {
    .header {
        display: flex;
    }

    .toggle {
        display: none;
    }

    .section .title {
        font-size: 6rem;
    }

    .section #job {
        font-size: 4rem;
    }

    .section-info {
        margin: 4rem;
    }

    .section .description {
        flex-direction: row;
        font-size: 2rem;
    }

    .section .description img {
        width: 50%;
    }

    .section .text {
        width: 50%;
    }

    .section .name:after {
        content: "_";
        color: var(--text-color);
        display: inline-block;
        animation: cursor-blink 1s steps(2) infinite;
    }

    @keyframes cursor-blink {
        0% {
            opacity: 0;
        }
    }
}