@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background: #F79E02;
  overflow-x: hidden;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  opacity: 0;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: ease-out;
}

.active a{
    opacity: 1;
}

.overlay a:hover,
.overlay a:focus {
  font-size: 50px;
  transition: 0.25s;
}
.active #myNav{
    height: 100%;
}
.toggle {
  position: absolute;
  z-index: 3000;
  right: 10px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}
.toggle span {
  position: absolute;
  width: 40px;
  height: 4px;
  background: white;
  border-radius: 4px;
  transition: 0.5s;
}
.toggle span:nth-child(1) {
  transform: translateY(-15px);
  width: 25px;
  left: 15px;
}
.toggle span:nth-child(2) {
  transform: translateY(15px);
  width: 15px;
  left: 15px;
}
.active .toggle span:nth-child(1) {
  width: 40px;
  transform: translateY(0) rotate(45deg);
  transition-delay: 0.125s;
}
.active .toggle span:nth-child(2) {
  width: 40px;
  transform: translateY(0) rotate(135deg);
}
.active .toggle span:nth-child(3) {
  transform: translateX(-60px);
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
