.scroll-arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    animation: float 3s ease-in-out infinite;

    opacity: 0;
    animation: fadeIn 2s ease-out 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.scroll-text {
    margin-bottom: 5px;
}

.arrow-icon {
    font-size: 24px;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.scroll-arrow-container:hover {
    animation-play-state: paused;
    transform: scale(1);
}